html, body {
    margin: 0;
    padding: 0;
}

.img-pointer {
    cursor: pointer;
}

.img-sizing {
    height: 100px;
    width: 150px;
}

.bg-black {
    background-color: black;
}

.heading-text {
    font-family: Tahoma;
    font-size: x-large;
}

.icon-sizing {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.overflow {
    width: 200px;
    height: 850px;
    overflow: auto;
}

span.icon:before {
    font-family: FontAwesome;
    content: "\f015";
}

.recipes-list {
    background-color: #b7610b;
}

.favs-list {
    background-color: #808000;
}

.recipecard-font {
    font-family: cursive;
}